@import "../styles/variables.scss";

.main {
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 50px;
        max-width: 80%;
        margin: 70px auto 0;
    }
}
.main_picture {
    display: flex;
    width: 100%;
    @media screen and (min-width: $desktop) {
        max-width: 27rem;
    }
    img {
        width: 100%;
        max-width: 100%;
    }
}
.main_intro {
    text-align: center;
    padding: 48px 16px 94px;
    max-width: 36rem;
    margin: 0 auto;

    @media screen and (min-width: $desktop) {
        text-align: initial;
        padding: 0;
        max-width: 33rem;
        margin: initial;
        align-self: flex-end;
    }

    p {
        font-size: 1rem;
        line-height: 1.625rem;
        margin-top: 16px;
        margin-bottom: 24px;

        @media screen and (min-width: $desktop) {
            font-size: 1.125rem;
            line-height: 1.75rem;
            margin-top: 48px;
            margin-bottom: 50px;
        }
    }
}
.learn_more {
    text-decoration: none;
    font-family: "epilogue";
    font-weight: 700;
    font-size: 1rem;
    color: var(--AlmostWhite);
    background-color: var(--AlmostBlack);
    padding: 12px 24px;
    border-radius: 15px;
    border: 1px solid var(--AlmostBlack);
    transition: all 0.5s ease-in;
    @media screen and (min-width: $desktop) {
        font-size: 1.125rem;
        padding: 16px 30px;
    }
    &:hover {
        color: var(--AlmostBlack);
        background-color: transparent;
    }
}
.companies_logo_container {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: $desktop) {
        margin-top: 100px;
        width: 100%;
    }
    img {
        height: 15px;
        @media screen and (min-width: $desktop) {
            height: 20px;
        }
        &:nth-child(2) {
            height: 26px;
            @media screen and (min-width: $desktop) {
                height: 36px;
            }
        }
    }
}
